html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'SingleDayRegular',sans-serif;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}
button{
    font-size: 3rem;
    border-radius: 10%;
    font-family: 'SingleDayRegular',sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 4rem;
}
.box{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#workingArea,
#resultArea{
    display: flex;
    flex: 1;
    font-size: 3rem;
    height: 3rem;
    width: 35rem;
    padding: 5px;
}

#screen{
    border-radius: 7% 7% 0 0;
    border: 3px solid black;
}
.container .box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    border: 3px solid black;
    border-top: transparent;
    border-radius:0 0 5% 5% ;
}
#digits{
    display: grid;
    grid-column: span 3;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    font-size: 3rem;
    text-align: center;
}
.numbers{
    font-family: 'VG5000Regular',sans-serif;
}
#operands{
    font-size: 3rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}